# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Runtime
temp/
outputs/

# Model cache
pretrained_weights/
.cache/
hf_cache/

# Hugging Face
.env

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Notebook
.ipynb_checkpoints/
